.header-image{
    background:url(./images/animal-avian-bird-875858.jpg);
    background-repeat:no-repeat;
    background-attachment:scroll;
    background-position:center;
    background-size:cover;
    resize:both;
    height:500px;
    text-align:center;
    color:white;
}
.container{
    padding-top:5%;
    padding-bottom:5%,
}

.location-images{
    width:100%;
    height:90%
}

.col-sm{
    font-size:20px;
    font-family:Montserrat;
    height:1000px;
    padding: 2% 2%;
}
.content{
    font-size:15px;
    font-family:Arial; 
    height: 500px;
    padding: 2% 2%;
}

.carousel{
    width:90%;
    height:90%;
}